*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Quicksand', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: white;
    --clr-dark: #1b1515;
    --clr-acc: #f844bc;
    --clr-dull: gray;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 1.2rem;
    --fs-body: 1rem;
}

@media (min-width: 900px) {
    :root{
        --fs-h1: 4rem;
        --fs-h2: 3rem;
        --fs-h3: 1.2rem;
        --fs-body: 1rem;
    }
}

/*create some general styles*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

/*we'll come back to style the navigation button*/

img{
    display: block;
    max-width: 100;
}

section{
    padding: 1em 2em;
}

strong{
    font-weight: var(--fw-bold);
}

/*typography*/
h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.sectitle {
    margin-bottom: 0.25em;
}

.sectitle_intro{
    font-weight: var(--fw-reg);
}

.sectitle_intro strong{
    display: block;
}

.secsubtitle{
    margin:0;
    font-size: var(--fs-h3);
}

.sectsubtitle_intro, .sectitle_bio{
    background: rgb(116, 11, 75);
    font-family: var(--ff-secondary);
    color: var(--clr-light);
}