*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Quicksand', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: white;
    --clr-dark: #1b1515;
    --clr-acc: #f844bc;
    --clr-dull: gray;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 1.2rem;
    --fs-body: 1rem;
}

@media (min-width: 900px) {
    :root{
        --fs-h1: 4rem;
        --fs-h2: 3rem;
        --fs-h3: 1.2rem;
        --fs-body: 1rem;
    }
}

/*create some general styles*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

/*we'll come back to style the navigation button*/

img{
    display: block;
    max-width: 100;
}

section{
    padding: 1em 2em;
}

strong{
    font-weight: var(--fw-bold);
}

/*typography*/
h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.sectitle {
    margin-bottom: 0.25em;
}

.sectitle_intro{
    font-weight: var(--fw-reg);
}

.sectitle_intro strong{
    display: block;
}

.sectsubtitle{
    margin:0;
    font-size: var(--fs-h3);
}

.sectsubtitle_intro, .sectitle_intro{
    background: rgb(116, 11, 75);
    font-family: var(--ff-secondary);
    color: var(--clr-light);
}

/*Header Section*/

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

/*Style intro section*/

.topintro {
    position: relative;
}

@media (min-width:900px){
    .topintro {
        display: grid;
        grid-column-gap:1em;
        width:min-content;
        margin: 0 auto;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: max-content min-content; 
        
    }
    .first_img {
        grid-area: img;
        min-width: 250px;
        min-height: auto;
    }
}

.sectsubtitle_intro {
    align-self: flex-start;
    grid-column: -1/1;
    text-align: center;
}

/*Style the skills section*/

.myskills {
    background-color: var(--clr-acc);
    background-image: url(../images/back.jpg);
    background-size: cover; /*don't repeat*/
    color: var(--clr-light);
    background-blend-mode: multiply;
    text-align: center;
}

.sectitle_skills {
    color: var(--clr-light);
    position: relative;
}

.sectitle_skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin:0.5em auto 1em;
    background-color: currentColor;
    opacity: 0.25;
}

.skills{
    margin-bottom: 3.5em;
}

.skill{
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width:1000px){
    .skills{
        display: flex;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    .skill + .skill {
        margin-left: 1em;
    }
}

/*styling the bio*/

.bio{
    max-width: 1000px;
    margin: 0 auto;
}

@media(min-width: 700px){
    .bio{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title image"
            "subtitle image"
            "text image";
            grid-column-gap: 1em;
    }

    .sectitle_bio{
        grid-area: title;
    }

    .secsubtitle_bio{
        grid-row: 3;
    }

    .bio_img {
        grid-area: image;
    }
}

/*styling artist projects*/

.myprojects {
    background-color: var(--clr-acc);
    color: var(--clr-light);
    text-align: center;
    background-image: url(../images/back.jpg);
    background-blend-mode: multiply;
}

.mywork {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400, 2fr));
}

.workpiece_img{
    height: 300px;
    width: 500px;
    padding: 0.2rem;
}

.workpiece_img:hover{
    transform: scale(1.02);
    opacity: 0.7;
}

/*styling the footer*/
.footer{
    background: #13010d;
    color: var(--clr-light);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a{
    color: inherit;
    text-decoration: none;
}

.footer_link{
    font-weight: var(--fw-bold);
}

.footer_link:hover{
    text-decoration: underline;
}

.footer_link:hover, .socialitem_link:hover{
    opacity: 50%;
}

.social_media{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social_item{
    display: block;
    margin: 0 0.8em;
}

.socialitem_link{
    padding: 0.2em;
}
